*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    transition: 0.5s;
}
:root{
    --color-Backg:#e6f5ea;
    --color-menu:#bdccc1;
    --color-text:#333333;
    --color-detail:#008469;
    --color-backg-image:#519188;
    --color-extra:#5c5c5c;
    --fuente-Primary:'Playpen Sans', cursive;
}
body{
    background-color: var(--color-Backg); 
    /* background-image: url(./assets/globos.jpg) ;
    background-size: cover;
     cursor: url(./assets/marcador-black.png),auto; */

}

.disappear{
    display:none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-menu);
    padding: 15px;
}
.title{
    font-size: 35px;
    margin: auto;
    color: var(--color-backg-image);
    transition: 1s;
}
.title:hover{
    color: var(--color-detail);
}
.navbar_menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.navbar_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
.navbar_text:hover{
    background-color: var(--color-detail);
    border-radius: 12px;
}
.navbar_link{
    text-decoration: none;
    color: var(--color-text);

}
.text_span{
    font-size: small;
}
.bg-image{
    /* background-image: url(https://res.cloudinary.com/manuelcodex/image/upload/v1688821217/manuel.alcazar_a_Valknut_logo_with_a_black_background_each_of_t_29acc2a5-483b-49f7-8fd5-ba2751df2699_qexuv3.png) ;
    background-size: cover; */
    background-color: var(--color-Backg);
}

.mainTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em auto 4em auto;
    padding: 30px;
    background-color: var(--color-Backg);
    color: var(--color-text);
    height: 50vh;
    transition: 1s ease-in-out;
}
.mainTitle:hover{
    transform: translateY(62px);
}
.main-photo{
    width: 30%;
    border-radius: 10px;
    margin-left: 20px;

}

.menuProjects{
    display: flex;
    flex-direction:row;
    flex-flow: row wrap;
    justify-content:center;
    background-color:var(--color-menu);
    color:var(--color-text);
}
.div-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-Backg);
    border-radius: 10px;
    text-align: center;
    margin: 1em;
    width: 150px;
    height: 150px;
}

.div-item:hover{
    box-shadow: 5px 3px 10px 10px #008469;
    margin-top: 10px;
    cursor: pointer;
}
 .div-item img{
    width: 150px;
    height: 150px;
    border-radius: 10px;

}

.div-item > h4{
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente al centro */
    left: 50%; /* Alinea el texto horizontalmente al centro */
    transform: translate(-50%, -50%); /* Centra el texto */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscurecido con un valor alpha para la opacidad */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado alrededor del texto */
    display: none;
}
.div-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-Backg);
    border-radius: 10px;
    text-align: center;
    margin: 1em;
    width: 150px;
    height: 150px;
}
.div-experience img{
    width: 150px;
    height: 150px;
    border-radius: 10px;

}
.div-experience:hover{
    box-shadow: 5px 3px 10px 10px #008469;
    margin-top: 10px;
    cursor: pointer;
}
#projects{
    color: var(--color-text);
    height: 70vh;
    width: 100%;

}
.exposicion-con-fondo {
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
}

.fondoDiv{
    display: flex;
 /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 70vh;
    background-color: var(--color-Backg)
}

.card-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2em;
    padding: 20px; 
    width: 70%; 
    height: 60%;
    border-radius: 10px;
    background-color: var(--color-menu)
}
.img-style{
    width: 150px;
    height: 125px;
    padding: 20px;
    background-color: var(--color-Backg);
    margin: 3px;
    border-radius: 10px;

}
.stack-list{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 7px;
}
.url-project{
    color: var(--color-text);
    text-decoration: none;
    transition:  0.5s;
    margin-top: 15px;
    background-color: var(--color-detail);
    border: 2px solid var(--color-detail);
    border-radius: 10px;
    padding: 5px;
}
.url-project:hover{
    background-color: var(--color-Backg);
    border: 2px solid var(--color-backg-image);
}
#experiencia img{
    width: 90%;
}
#studies img{
    width: 90%;
}
#contact img{
    width: 90%;
}
#titulo-exposicion{
    font-weight: 900;
}
#parrafo-exposicion{
    text-align:justify;
}
.btn-desplazamiento{
    display: none;
}
.divDos{
    color: var(--color-text);

    width: 100%;
}
.card-divDos{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 20px; 
    width: 70%; 
    height: 20%;
    border-radius: 10px;
    background-color: var(--color-menu);
}

.title-divDos{
   font-weight: 900;
   text-align: center;
}
.title2-divDos{
    font-weight: 700;
    text-align: center;
}
.second-divDos{
    display: flex;
    align-items: center;
}
.second-divDos > ul {
    list-style:none;
    margin-left: 10px;
}
.li-divDos{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 5px solid var(--color-backg-image);
}
.imagen-divDos{
    width: 20%;
}
.form-divDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    padding: 20px; 
    width: 70%; 
    height: 20%;
    border-radius: 10px;
    background-color: var(--color-menu);
}
.form-label{
    width: 90%;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
}
.form-input{
    width: 90%;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc; /* Puedes ajustar esto según tus preferencias */
    box-shadow: none; 
}
.form-textarea{
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc; /* Puedes ajustar esto según tus preferencias */
    box-shadow: none; 
}
.form-button{
    display: block;
    margin-top: 15px;
    cursor: pointer;
    background-color: var(--color-detail);
    border: 2px solid var(--color-menu);
    border-radius: 10px;
    padding: 10px;
    color: var(--color-text);
    transition: 0.5s;
}
.form-button:hover{
    background-color: var(--color-menu);
    border: 2px solid var(--color-backg-image);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-menu)
}
.text-footer{
    text-align: center;
    color: var(--color-text);
}
@media (max-width: 576px) {
    .navbar_menu {
        display: none;
    }
    .navbar_menu.open {
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2em auto 4em auto;
        padding: 30px;
        background-color: var(--color-Backg);
        color: var(--color-text);
    }
    .mainTitle:hover{
        transform: translateY(0px) translateX(0px);
    }
    .main-photo{
        width: 80%;
        border-radius: 10px;
        margin-top: 10px;
    
    }
    .navbar_menu.open {
        max-height: 200px; /* Ajusta esto según el contenido de tu menú */
    }
    .menu-icon {
        cursor: pointer;
        padding: 20px;
    }

    .menu-icon div {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.9s;
    }
    .card-projects{
        height: 80%;
    }
.imagen-divDos{
    display: none;
}
.title-divDos{
    font-size: medium;
    font-weight: 600;
 }
 .title2-divDos{
    font-size: medium;
    font-weight: 400;
}
 .second-divDos{
     display: flex;
     align-items: center;
 }
 .second-divDos > ul {
     list-style:none;
 }
 .li-divDos{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 5px solid var(--color-backg-image);
}
    /* Estilos para el ícono de cerrar (X) */
    #close-icon div:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
        transition: 0.9s;
    }
    #close-icon div:nth-child(2) {
        transform: rotate(-45deg) translate(2px, -1px);
    }
    .img-style{
        width: 50px;
        height: 40px;
        padding: 4px;
        background-color: var(--color-Backg);
        margin: 3px;
        border-radius: 10px;
    }
    .btn-desplazamiento{
        display: block;
        margin-top: 15px;
        cursor: pointer;
        background-color: var(--color-detail);
        border: 2px solid var(--color-menu);
        border-radius: 10px;
        padding: 10px;
        color: var(--color-text);
        transition: 0.5s;
    }
    .btn-desplazamiento:hover{
        background-color: var(--color-menu);
        border: 2px solid var(--color-backg-image);
    }


}
